h1{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.2em, #333333;
}
.topo{
    margin: 10px 0px 10px 0px;
    background-image: linear-gradient(to bottom right,#8A2BE2,#000080);
}
.rodape{
    color: #ffffff;
    height: 50px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    background-image: linear-gradient(to bottom right,#000080,#8A2BE2);
}
.div-vazia{
    text-align: center;
}